.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.home {
		width: 340px;
	}
}

@media only screen and (min-width: 600px) {
	.home {
		width: 340px;
	}
}

@media only screen and (min-width: 768px) {
	.home {
		width: 640px;
	}
}

@media only screen and (min-width: 992px) {
	.home {
		width: 827px;
	}
}

@media only screen and (min-width: 1200px) {
	.home {
		width: 1000px;
	}
  }
